*.obj
*.o
*.s
*.~*
*.#*
*.il
*.ii
*.ilk
*.ilb
*.ils
*.ilc
*.ild
*.ilf
*.idb
*.map
*.drc
*.tds
*.pdb
*.pch
*.gch
*.exe
*.bak
*.sdf
*.log
*.ipch
*.tlog
*.stat
*.command.1.tlog
*.Release
*.Debug
*.cache
